/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.header {
    text-align: center;
}

.login-items {

}

.login-items .column {
    margin-top: .5em;
    margin-bottom: .5em;
    
    text-align: center;
}
